/* Start Viewport desktop */
body { background-color:transparent; background-repeat:repeat; background-size:auto; background-position:0 0; background-attachment:initial; background-image:none; -moz-background-size:auto; -webkit-background-size:auto; }
#body-content { height:1489px; }


#imageContainer_252 { top:300px; left:69px; width:828px; height:857px; z-index:116; }
#imageContainer_252 img { width:828px; height:347px; margin-top:-23px; margin-left:0px; }
#imageContainer_254 { top:100px; left:183px; width:600px; height:133px; z-index:117; }
#imageContainer_254 img { width:600px; height:133px; margin-top:0px; margin-left:0px; }
#imageContainer_255 { top:700px; left:257px; width:436px; height:154px; z-index:118; }
#imageContainer_255 img { width:436px; height:156px; margin-top:-1px; margin-left:0px; }
#txtBox_256 { top:218px; left:277px; width:412px; height:42px; z-index:119; }
#fancyFormBuilder_490414 { top:335px; left:283px; width:502px; height:67px; z-index:123; }
#fancyFormBuilder_490415 { top:510px; left:283px; width:486px; height:67px; z-index:120; }
#fancyFormBuilder_490416 { top:685px; left:283px; width:491px; height:67px; z-index:122; }
#fancyFormBuilder_490417 { top:855px; left:283px; width:495px; height:67px; z-index:124; }
#fancyFormBuilder_490418 { top:2627px; left:283px; width:511px; height:67px; z-index:121; }



/* End Viewport desktop */

/*
     FILE ARCHIVED ON 09:52:55 May 25, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:57:48 Jul 18, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 145.451
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.091
  cdx.remote: 0.067
  esindex: 0.01
  LoadShardBlock: 62.284 (3)
  PetaboxLoader3.datanode: 70.928 (5)
  CDXLines.iter: 17.886 (3)
  load_resource: 85.839
  PetaboxLoader3.resolve: 48.341
  loaddict: 28.821
*/
